@charset "UTF-8";
/* CSS Document */

body{
	background-color: #303743;
}

/* - - - - - - - - - - C O N T E N E D O R E S - - - - - - - - - - */

/* Ventana principal */
.div-ventana{
	/* Valores para que sean compatibles con cualquier resolución */
	width: 		97vh;
	height:		97vh;
	margin: 	auto;
	
	/* Propiedades de flexbox */
	display: 			flex;
	flex-wrap: 			nowrap;
	justify-content: 	center;
	align-items: 		center;
}

/* Separación entre cada contenedor */
/* Son dos contenedores, uno para el logo y otro para
	el formulario de inicio de sesión*/
.div-ventana div{
	margin: 	2%;
}

/* Incluye el logo y el nombre de la canción que se reproduce */
.div-contenedor1{
	width: 			45vh;
	height: 		60vh;
	/* Propiedades de flexbox */
	align-items: 	center;
}

/* Incluye el formulario de inicio de sesión */
.div-contenedor2{
	width: 				70vh;
	height: 			60vh;
	background: 		#313949;
	border-radius: 		50px;
	box-shadow: 		inset -5px -5px 10px rgba(57, 66, 83, 0.25), 
						inset 5px 5px 10px #262C37;
	/* Propiedades de flexbox */
	display: 			flex;
	flex-wrap: 			wrap;
	justify-content: 	center;
	align-items: 		center;
}

/* Contenedor secundario que contiene los inputs para el inicio de sesión*/
.div-contenedor-formulario{
	width: 				80vh;
	height: 			40vh;
	/* Propiedades de flexbox */
	display: 			flex;
	flex-wrap: 			wrap;
	justify-content: 	center;
	margin: 			auto;
	align-items: 		center;
}

/* Separación entre las imagenes y los inputs en el formulario */
.div-contenedor-formulario div, img{
	margin: 	2%;
}


/* - - - - - - - - - - I M A G E N E S  Y  B O T O N E S - - - - - - - - - - */

/* Imagen principal con el logo del sistema */
/* Funciona como botón que reproduce una canción al pulsarlo */
.imagebutton-logo{
	/* Las medidas se basan en su contenedor (div-contenedor2) */
	width: 				45vh;
	height: 			45vh;
	border-radius: 		60px;
	outline: 			none;
	border: 			2px solid rgba(49, 57, 73, 0.5);
	filter: 			drop-shadow(-10px -10px 20px rgba(72, 80, 99, 0.26)) 
						drop-shadow(10px 10px 20px #262C37);
	/* Necesario para la animación */
  	cursor: 			pointer;
  	transition: 		all 0.3s ease-in-out;
}

/* Botón para iniciar sesión */
.button-iniciarsesion{
	width: 				30vh;
	height: 			9vh;
	margin-bottom: 		4vh;
	border-radius: 		50px;
	outline: 			none;
	border: 			2px solid rgba(49, 57, 73, 0.5);
	background:         linear-gradient(180deg, #2C3341 0%, #313949 100%);
	box-shadow: 		-10px -10px 20px rgba(72, 80, 99, 0.26), 10px 10px 20px #262C37;
	/* Estilo de texto */
	font-size: 			3.5vh;
	color:              #FFFFFF;
	/* Necesario para la animación */
	cursor: 			pointer;
  	transition: 		all 0.3s ease-in-out;
}

/* Imagenes no disponibles */
.image-sinimagen{
	width: 		10vh;
	height: 	10vh;
}


/* - - - - - - - - - - I N P U T S - - - - - - - - - - */

.input-nombreusuario{
	width: 				50vh;
	height: 			8.5vh;
	border-radius: 		20px;
	outline: 			none;
	border: 			1px solid #313949;
	background: 		#313949;
	box-shadow: 		inset -5px -5px 10px rgba(64, 75, 95, 0.25), 
						inset 5px 5px 10px #2C3341;
	/* Estilo de texto */
	color: 				#FFFFFF;
	font-size: 			3.5vh;
	padding-left: 		2.3vh;
}

.input-password{
	width: 				50vh;
	height: 			8.5vh;
	border-radius: 		20px;
	outline: 			none;
	background: 		#313949;
	border: 			1px solid #313949;
	box-shadow: 		inset -5px -5px 10px rgba(64, 75, 95, 0.25), 
						inset 5px 5px 10px #2C3341;
	/* Estilo de texto */
	font-size: 			3.5vh;
	color: 				#FFFFFF;
	padding-left: 		2.3vh;
}

/* - - - - - - - - - - L A B E L S - - - - - - - - - - */

.label-cancion{
	width: 					40vh;
	font-size: 				3vh;
	color: 					#FFFFFF;
	margin-top: 			4vh;
	padding-left: 			3vh;
	text-align: 			center;
	/* Efecto que limita el número de letras */
	display: 				-webkit-box;
  	-webkit-line-clamp: 	1;
  	-webkit-box-orient: 	vertical;
  	overflow: 				hidden;
}

/* - - - - - - - - - - A N I M A C I O N E S - - - - - - - - - - */

/* - - - - - - - Animación - Botón del logo - - - - - - - */
/* Hace saltar la imagen cuando el puntero está encima */
.imagebutton-logo:hover{
	transform: scale(1.1);
}

/* Disparadores del efecto Shrink (Funciona al dar click) */
.imagebutton-logo:active {
  animation: shrink  1s ease;
  animation-iteration-count: 1;
}
.imagebutton-logo:focus {
  animation: shrink  1s ease;
  animation-iteration-count: 1;
}

/* Frames de la animación Shrink */
@keyframes shrink {
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.8);
  }
}


/* - - - - - - - Animación - Botón de inicio de sesión - - - - - - - */
/* Hace saltar al botón cuando el puntero está encima */
.button-iniciarsesion:hover{
	transform: scale(1.1);
}


/* Disparadores del efecto Swing (Funciona al dar click) */
.button-iniciarsesion:focus {
  animation: swing 1s ease;
  animation-iteration-count: 1;
}
.button-iniciarsesion:active {
  animation: swing 1s ease;
  animation-iteration-count: 1
}

/* Frames de la animación Swing */
@keyframes swing {
  15% {
    transform: translateX(10px);
  }
  30% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(6px);
  }
  65% {
    transform: translateX(-6px);
  }
  80% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(0);
  }
}

