@charset "UTF-8";
/* CSS Document */

body{
	background-color: 	#2a305a;
}

/* - - - - - - - - - - - - - - - - - - - -C O N T E N E D O R E S - - - - - - - - - - - - - - - - - - - - */
/* Clase principal de la que heredan todos los contenedores*/
.div-contenedor{
	height: 			97vh;
	width: 				99vw;
	/* Propiedades de flexbox */
	display: 			flex;
	flex-wrap: 			nowrap;
	align-items: 		center;
	justify-content: 	center;
}

/* Incluye el logo y el nombre de la canción que se reproduce */
.div-contenedor-logo{
	/* Propiedades heredadas de contenedor */
	display: 			inherit;
	flex-wrap: 			inherit;
	align-items: 		inherit;
	justify-content: 	inherit;
	flex-direction: 	column;
}

/* Incluye el formulario de inicio de sesión */
.div-contenedor-formulario{
	height: 			57vh;
	width: 				35vw;
	border-radius: 		30px;
	background: 		#2a305a;
	flex-direction: 	column;
	box-shadow:  		5px 5px 10px #252b50,
             			-5px -5px 10px #2f3564;
	/* Propiedades heredadas de contenedor */
	display: 			inherit;
	flex-wrap: 			inherit;
	align-items: 		inherit;
	justify-content:    inherit;
}

/* Separación entre cada contenedor */
.div-contenedor div{
	margin: 	3%;
}

/* Separación entre los inputs del formulario */
.div-contenedor-formulario div, input{
	margin: 	5%;
}

/* - - - - - - - - - - - - - - - - - - - - - - - L A B E L S -  - - - - - - - - - - - - - - - - - - - - - */

.label-nombreCancion{
	width: 					20vw;
	text-align: 			center;
	margin-top: 			5%;
	/* Estilo de texto */
	color: 					#FFFFFF;
	font-size: 				3.5vh;
	/* Efecto que limita el número de letras */
	display: 				-webkit-box;
  	-webkit-line-clamp: 	1;
  	-webkit-box-orient: 	vertical;
  	overflow: 				hidden;
}


/* - - - - - - - - - - - - - - - -  - I M A G E N E S  Y  B O T O N E S - - - - - - - - - - - - - - - - - */

/* Clase principal de la que heredan todos los botones*/
.button{
	background:         #2a305a;
	border-radius: 		50px;
	outline: 			none;
	border: 			none;
	box-shadow:  		5px 5px 10px #252b50,
             			-5px -5px 10px #2f3564;
	/* Estilo de texto */
	color: 				#FFFFFF;
	font-size: 			3.5vh;
	/* Necesario para la animación */
  	cursor: 			pointer;
  	transition: 		all 0.3s ease-in-out;
}

/* Imagen principal con el logo del sistema */
/* Funciona como botón que reproduce una canción al pulsarlo */
#buttonReproducir{
	height: 			45vh;
	width: 				45vh;
}

/* Botón para iniciar sesión */
#buttonIniciarSesion{
	height: 			8.5vh;
	width: 				25vw;
	border-radius: 		20px;
}


/* - - - - - - - - - - - - - - - - - - - - - - - T E X T  F I E L D - - - - - - - - - - - - - - - - - - - */

/* Clase principal de la que heredan todos los text field*/
.input-text{
	height: 			8.5vh;
	width: 				25vw;
	border-radius: 		15px;
	padding-left: 		2vw;
	outline: 			none;
	border: 			none;
	background: 		#2a305a;
	box-shadow: 		inset 7px 7px 14px #252a4f,
            			inset -7px -7px 14px #2f3665;
	/* Estilo del texto ingresado */
	color: 				#FFFFFF;
	font-size: 			3.5vh;
}

/* Estilo de texto mostrado */
.input-text::placeholder{
	color: 				#FFFFFF;
	font-family: 		"Font Awesome 5 Free"; 
	font-size: 			3.5vh;
}


/* - - - - - - - - - - - - - - - - - - - - A N I M A C I O N E S - - - - - - - - - - - - - - - - - - - - */

/* - - - - - - - Animación - Botón del logo - - - - - - - */
/* Hace saltar la imagen cuando el puntero está encima */
.button:hover{
	transform: scale(1.1);
}

/* Disparadores del efecto Shrink (Funciona al dar click) */
.button:active {
  animation: shrink  0.6s ease;
  animation-iteration-count: 1;
}
.button:focus {
  animation: shrink  0.6s ease;
  animation-iteration-count: 1;
}

/* Frames de la animación Shrink */
@keyframes shrink {
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.8);
  }
}


/* - - - - - - - Animación - Botón de inicio de sesión - - - - - - - */
/* Hace saltar al botón cuando el puntero está encima */
#buttonIniciarSesion:hover{
	transform: scale(1.1);
}


/* Disparadores del efecto Swing (Funciona al dar click) */
#buttonIniciarSesion:focus {
  animation: swing 1s ease;
  animation-iteration-count: 1;
}
#buttonIniciarSesion:active {
  animation: swing 1s ease;
  animation-iteration-count: 1
}

/* Frames de la animación Swing */
@keyframes swing {
  15% {
    transform: translateX(10px);
  }
  30% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(6px);
  }
  65% {
    transform: translateX(-6px);
  }
  80% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(0);
  }
}

