@charset "UTF-8";
/* CSS Document */

body{
	background-color: 	#36393F;
}

/* - - - - - - - - - - - - - - - - - - - -C O N T E N E D O R E S - - - - - - - - - - - - - - - - - - - - */
/* Incluye el botón de cerrar sesión */
.div-cabecera{
	width: 				99vw;
	display: 			flex;
	flex-wrap: 			nowrap;
	justify-content: 	flex-end;
}

/* Clase principal de la que heredan todos los contenedores*/
.div-contenedor{
	height: 			100vh;
	width: 				100vw;
	/* Propiedades de flexbox */
	display: 			flex;
	flex-wrap: 			nowrap;
	align-items: 		center;
	justify-content: 	center;
}

/* Incluye el contenedor de los botones del menú principal */
.div-contenedor-botones{
	/* Propiedades heredadas de contenedor */
	display: 			inherit;
	flex-wrap: 			inherit;
	align-items: 		inherit;
	justify-content: 	inherit;
	flex-direction: 	column;
}

/* Incluye el contenedor de la programación actual */
.div-contenedor-programacion{
	/* Propiedades heredadas de contenedor */
	display: 			inherit;
	flex-wrap: 			inherit;
	align-items: 		inherit;
	justify-content: 	inherit;
	flex-direction: 	column;
}

.div-contenedor-programacion-label{
	height: 			5vh;
	width: 				40vw;
	/* Propiedades heredadas de contenedor */
	display: 			inherit;
	flex-wrap: 			inherit;
	align-items: 		inherit;
	justify-content: 	inherit;
}

/* Incluye el nombre de las canciones de la programación actual */
.div-contenedor-programacion-tabla{
	height: 			75vh;
	width: 				40vw;
	border-radius: 		15px;
	background: 		#36393F;
	box-shadow: 		inset 5px 5px 0px #313339,
						inset -5px -5px 0px #3b3f45;
	/* Propiedades heredadas de contenedor */
	flex-wrap: 			nowrap;
	align-items: 		center;
	justify-content: 	center;
	overflow-y: 		auto;
}

/* Separación entre los botones */
.div-contenedor-botones input{
	margin-top: 	10%;
}

/* Separación entre cada contenedor */
.div-contenedor div{
	margin-left: 	2%;
	margin-right:   2%;
	margin-bottom:  5%;
}


/* - - - - - - - - - - - - - - - - - - - - - - - L A B E L S -  - - - - - - - - - - - - - - - - - - - - - */
.label{
	width: 					20vw;
	margin-top: 			5%;
	text-align: 			center;
	/* Estilo de texto */
	color: 					#b8b8b8;
	font-size: 				3.5vh;
	/* Efecto que limita el número de letras */
	display: 				-webkit-box;
  	-webkit-line-clamp: 	1;
  	-webkit-box-orient: 	vertical;
  	overflow: 				hidden;
}

/* - - - - - - - - - - - - - - - -  - I M A G E N E S  Y  B O T O N E S - - - - - - - - - - - - - - - - - */

/* Clase principal de la que heredan todos los botones*/
.button{
	height: 			10vh;
	width: 				30vw;
	outline: 			none;
	border: 			none;
	border-radius: 		50px;
	background: 		#36393F;
	box-shadow:  		5px 5px 0px #313339,
				 		-5px -5px 0px #3b3f45;
	/* Estilo de texto */
	color: 				#b8b8b8;
	font-size: 			3.5vh;
	/* Necesario para la animación */
  	cursor: 			pointer;
  	transition: 		all 0.3s ease-in-out;
}

#buttonCerrarSesion{
	height: 			5vh;
	width: 				4vw;
	/* Fuente de texto */
	font-family: 		"Font Awesome 5 Free";
}

/* - - - - - - - - - - - - - - - - - - - - A N I M A C I O N E S - - - - - - - - - - - - - - - - - - - - */
/* Hace saltar la imagen cuando el puntero está encima */
.button:hover{
	transform: scale(1.1);
}

/* Disparadores del efecto Shrink (Funciona al dar click) */
.button:active {
  animation: shrink  0.6s ease;
  animation-iteration-count: 1;
}
.button:focus {
  animation: shrink  0.6s ease;
  animation-iteration-count: 1;
}

/* Frames de la animación Shrink */
@keyframes shrink {
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.8);
  }
}
